.functional_header
{
    position: absolute;
    top: 0px;
}
body
{
    margin: 0px;
    padding: 0px;
    
}
.content
{
    width: 80vw;
}
.register_main_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.section1
{
    width: 20vw;
    margin-left: 5vw;
    border: solid grey 1px;
}
.section2
{
    height: 120vh;
    width: 60vw;
    border: solid grey 1px;
}
.register_heading
{
    height: 50px;
    width: 100%;
    background-color: RGB(66 21 94);
    color: white;
    font-family: RNHouseSansW01-Regular;
    font-size: 22.5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.register_headtext
{
    margin-left: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.form
{
    padding: 20px;
    padding-left: 150px;
    position: relative;
    
}
.input
{
    height: 6vh;
    width: 32vw;
    margin-top: 2vh;
    font-size: large;
    
    
}
.form_placeholder
{
    position: relative;
    right: 430px;
    user-select: none;
    bottom:22px;
    padding: 0 5px;
    transition: 0.3s;
    background-color: white;
}

.mandatory
{
    color:red;
}
.error_mssg
{
 color:white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-weight: bold;
 background-color: purple;
 width: 60vw;   
}
.error_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 343px;
}
.submit
{
    height: 50px;
    width: 100px;
    margin-top: 20px;
    margin-left: 160px;
    background-color: rgb(29,122,139);
    border: 0;
    color: white;
    font-size:16px;
    font-family: RNHouseSansW01-Regular;
}
textarea
{
    
    height: 160px !important;
}
.form_placeholder1
{
    position: relative;
    right: 430px;
    user-select: none;
    bottom:155px;
    padding: 0 5px;
    transition: 0.3s;
    background-color: white;
}
textarea
{
    padding-top:10px;
    box-sizing: border-box;
}
.red
{
    color: red;
}
.image_section1
{
    position: absolute;
    top: 100px;
}
.mobile_register
{
    display: none;
}
@media (max-width:645px)
{
    .register_main_container
    {
        display: flex;
        flex-direction: row-reverse;
    }
    .registration_container
    {
        width: 100%;

    }
    .section1
    {
        display: none;
    }
    input,textarea
    {
        width: 100%;

    };
    form > div > label
    {
        height: 0px;
    }
    .section2
    {
        display: flex;
        flex-wrap: wrap;
        width: 92vw;
        height: auto;

    }
    .form
    {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .submit
    {
        padding: 0;
        margin:0;
    }
    .register_headtext {
    
        margin:0;
    }
    .register_heading
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input
    {
        width:80vw;
        margin-left: 2px;
        margin-bottom: 0;
    }
    form > div 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mobile_register
    {
        margin: 0;
        padding: 0;
        margin-left: 25px;
        display: block;
    }
    .red
    {
        margin-top: -24px;
    }
    .submit
    {
        margin-left: 30vw;
    }
}
